In [3]:
def create_total_expence(mon,tues,wed,thurs,fri,satur,sun):
    days = ['Monday', 'Tuesday', 'Wednesday','Thursday','Friday','Saturday','Sunday']
    cost = [mon,tues,wed,thurs,fri,satur,sun]
    total_expence = {}
    for i in range(len(days)):
        total_expence[days[i]] = cost[i] 
    return total_expence

In [57]:
TOI = create_total_expence(3,3,3,3,3,5,6)
Hindu = create_total_expence(2.5,2.5,2.5,2.5,2.5,4,4)
ET = create_total_expence(4,4,4,4,4,4,10)
BM = create_total_expence(1.5,1.5,1.5,1.5,1.5,1.5,1.5)
HT = create_total_expence(2,2,2,2,2,4,4)

table = [TOI,Hindu,ET,BM,HT]
names = ["TOI","Hindu","ET","BM","HT"]

In [58]:
def get_total(table,names):
    value = {}
    for i in range(len(table)):
        val = 0
        for j in table[i]:
            val += table[i][j]
        value[names[i]] = val
    return value

In [59]:
total = get_total(table,names)

In [88]:
def budget(value):
    keys = list(total.keys())
    values = list(total.values())
    arr = []
    for i in range(len(names)):
        for j in range(i+1,len(names)):
            print(names[i],names[j])
            if total[names[i]] + total[names[j]] <= value:
                arr.append([keys[values.index(total[names[i]])],keys[values.index(total[names[j]])]])
    return arr

In [91]:
budget(35)

TOI Hindu
TOI ET
TOI BM
TOI HT
Hindu ET
Hindu BM
Hindu HT
ET BM
ET HT
BM HT

[['Hindu', 'BM'], ['BM', 'HT']]